@charset "UTF-8";
/*css*/

h1 {
    font-family: 'Krona One', sans-serif;
    color: #000000;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    padding-bottom: 5px;
}

.qr-code-generator {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 200px;
}

.qr-code-generator * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#qrcode {
    width: 128px;
    height: 128px;
}

#qrcode a {
    font-size: 0.8em;
}

input {
    box-shadow: 0px 2px 6px black;
    color: black;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.30)
}

.qr-url, .qr-size {
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.qr-url {
    width: 79%;
}

.qr-size {
    width: 20%;
}

.generate-qr-code {
    display: inline-block;
    width: 50%;
    margin: 1em 0 0;
    padding: 0.25em;
    font-size: 1em;
    border: none;
    cursor: pointer;
    background-color: #000000;
    box-shadow: 0px 2px 6px black;
    color: #fff;
    border-radius: 10px;
}

.generate-qr-code:hover {
    background-color: #64dd17;
}

.reset {
    display: inline-block;
    width: 50%;
    margin: 0.5em 0 0;
    padding: 0.25em;
    font-size: 1em;
    border: none;
    cursor: pointer;
    background-color: #000000;
    box-shadow: 0px 2px 6px black;
    color: #fff;
    border-radius: 10px;
}

.reset:hover {
    background-color: red;
}

#obs {
    display: inline-block;
    width: 100%;
    margin: 1em 0 0;
    padding: 0.25em;
    font-size: 1.2em;
    background-color: white;
    box-shadow: 0px 2px 6px black;
    color: black;
    border-radius: 10px;
}

/*Responsive*/
@media screen and (max-width: 1024px) {
    div#mid, h1, #obs, .reset, .generate-qr-code, .qr-size, .qr-url, input, #qrcode a, #qrcode, .qr-code-generator *, .qr-code-generator {
        max-width: 100%;
        font-size: 1em;
    }
    .qr-size, .qr-url {
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    div#mid, h1, #obs, .reset, .generate-qr-code, .qr-size, .qr-url, input, #qrcode a, #qrcode, .qr-code-generator *, .qr-code-generator {
        max-width: 100%;
        font-size: 1em;
    }
    .qr-size, .qr-url {
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    div#mid, h1, #obs, .reset, .generate-qr-code, .qr-size, .qr-url, input, #qrcode a, #qrcode, .qr-code-generator *, .qr-code-generator {
        max-width: 100%;
        font-size: 1em;
    }
    .qr-size, .qr-url {
        margin-top: 10px;
    }
}

@media screen and (max-width: 320px) {
    div#mid, h1, #obs, .reset, .generate-qr-code, .qr-size, .qr-url, input, #qrcode a, #qrcode, .qr-code-generator *, .qr-code-generator {
        max-width: 100%;
        font-size: 1em;
    }
    .qr-size, .qr-url {
        margin-top: 10px;
    }
}